.footer{
    background-color: rgb(130, 208, 234);
    text-align:bottom;
    color: white;
    font-size: 50px;
    font-family :Georgia, 'Times New Roman', Times, serif;
    border: 5px solid white;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 160px;
    margin: 0px;
}
.imageYoutube{
    width: 60px;
    height: 60px;
    margin-right: 120px;
    border-radius: 20px;
    float: right;
}
.imageSpotify{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 20px;
    float: right;
}
.imageFacebook{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 20px;
    float: right;
}