.headerNav {
    background-color: black;
    text-align: center;
    color: azure;
    border: 10px solid black;
    position: fixed;
    width: 100%;

  }
  .headerButton{
    background-color: black;
    color: azure;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  .cartButton{
    float: right;
    border: 2.5px solid blue;
    background-color: black;
    border-radius: 10px;
    font-size: larger;
    color: white;
  }
  .cartCount{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkgoldenrod;
    border-radius: 10px;
    margin-left: 10px;
  }